@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for registering!</h2>
<p>You must <span><a href="/Account/Login">log in</a></span> to confirm your account</p>


