@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
<h2>Sign in Here</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Welcome to the Forae, @User.Identity.Name!</p>
    <p>@Html.ActionLink("Continue to The Forae", "Index", "Home" )</p>
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in" , "Login")</p>
}


