@{
    ViewData["Title"] = "Forae - Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for registering!</h2>
<p>Click <span><a href="/">here</a></span> to continue into the forums</p>


