@{
    ViewData["Title"] = "Forae - Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <h1>Are you sure you want to log out?</h1>
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    @using (Html.BeginForm("Index","Home"))
    {
        <input type="submit" class="btn btn-default" value="Cancel" />
    }
}
   