@{
    ViewData["Title"] = "Forae - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.Models.Comment

<h2>Create a new comment</h2>
<hr />

@using (Html.BeginForm())
{
    
    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 move-down">
        @Html.TextAreaFor(model => model.Text)
    </div>
    <div class="col-md-2">
        <label>UserName</label>
    </div>
    <div class="col-md-10 move-down">
        @Html.TextBoxFor(model => model.UserName)
    </div>

    <div class="col-md-2">
        <label>Select a post</label>
    </div>
    @Html.DropDownList("PostId")

    <br />

    <input class="btn btn-default" type="submit" value="Comment" />
}