@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.ViewModels.PostsViewModel

<h2 class="center-block">/Forae/@Model.topic.Name</h2>

@foreach (var listPost in Model.Posts)
{
    <li class="forum-block container"><a class="button" href="@Url.Action("Index", "Comments", new { id = listPost.PostId })">@Html.DisplayFor(modelTopic => listPost.Title)</a> <br /> <span class="user-name">  By: @Html.DisplayFor(modelPost => listPost.UserName) </span></li>
}
<hr />

<p>@Html.ActionLink("Add new post", "Create")</p>
