@{
    ViewData["Title"] = "Forae - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Forums.Models.Topic


<h2>Create a new Subforum</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 move-down">
        @Html.TextBoxFor(model => model.Name)
    </div>
<input class="btn btn-default" type="submit" value="Create Subforum" />
}


