@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

@model IEnumerable<Forums.Models.Topic>

<div class="center-block">
    <h2>Forae Home Page</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <h5>Hello, @User.Identity.Name!</h5>
    }
</div>

<br />

<ul>
    @foreach (var listTopic in Model)
    {
        <li class="forum-block container"><a href="@Url.Action("Index", "Posts", new { id = listTopic.TopicId })">/Forae/@Html.DisplayFor(modelTopic => listTopic.Name)</a></li>
    }
</ul>

<hr />

<p>@Html.ActionLink("Create a subforum", "Create")</p>
