@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

@model IEnumerable<Forums.Models.Topic>

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <h2>The Forae Home Page</h2>
    <ul>
        @foreach (var listTopic in Model)
        {
         <li>@Html.DisplayFor(modelTopic => listTopic.Name)</li>
        }
    </ul>
  
</body>
</html>