@{
    ViewData["Title"] = "The Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

@model IEnumerable<Forums.Models.Topic>

<div class="center-block">
    <h2>The Forae Home Page</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <h5>Hello, @User.Identity.Name!</h5>
    }
</div>

<hr />
<ul>
    @foreach (var listTopic in Model)
    {
        <li class="forum-block container">@Html.DisplayFor(modelTopic => listTopic.Name) | @Html.ActionLink("Posts", "Index", "Posts", new { id = listTopic.TopicId } )</li>
    }
</ul>

<button class="btn btn-default">@Html.ActionLink("Create a topic", "Create")</button>
