@{
    ViewData["Title"] = "Forae";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

@model IEnumerable<Forums.Models.Topic>

<div class="center-block image">
    <img src="https://source.unsplash.com/random/1200x400">
    <h1 class="alter-image">The Forae <br /> <span class="alter-font">a forum about anything</span></h1>
</div>

<br />

<ul class="center-block">
    @foreach (var listTopic in Model)
    {
        <li class="forum-block container mobile-scale"><a href="@Url.Action("Index", "Posts", new { id = listTopic.TopicId })">/Forae/@Html.DisplayFor(modelTopic => listTopic.Name)</a></li>
    }
</ul>

<hr />

<p class="response-block">@Html.ActionLink("create a subforum", "Create")</p>
