
.center-block {
    text-align:center;
}

.forum-block {
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 2.5;
  border: 1px solid gray;
  margin-bottom:10px;
}

.user-name {
  color:steelblue;
}

.move-down {
  margin-bottom:10px;
}

.response-block {
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 2.5;
  border: 1px solid white;
  margin-bottom:10px;
}

.btn {
   margin-top: 30px;
}