
.center-block {
    text-align:center;
}

.forum-block, .response-block {
  display: block;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 2.5;
  border: 1px solid gray;
  max-width:950px;
}

.user-name {
  color:darkgray;
}

.move-down, .response-block, .forum-block {
  margin-bottom:10px;
}

.response-block {
  border: 1px solid white;
  max-width:900px;
}

.btn {
   margin-top: 30px;
}

.logoff-btn {
   padding: 20px;
}

#move-down-comment {
   margin-top: 300px;
}

#title-block {
    margin-left:95px;
}

